.nav-container {
  background-color: #2c0e3a;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-logo {
  height: 20px;
  width: 100px;
}

.score-timer-container {
  list-style-type: none;
  margin: 0px;
  display: flex;
}

.timer-container {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-icon {
  height: 20px;
  width: 20px;
}

.score {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 14px;
}

.score-count {
  color: #fec653;
}

.timer-counter {
  font-family: 'Roboto';
  color: #fec653;
  font-size: 14px;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .nav-container {
    background-color: #2c0e3a;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .app-logo {
    height: 30px;
    width: 120px;
  }

  .score-timer-container {
    display: flex;
  }

  .timer-container {
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timer-icon {
    height: 20px;
    width: 20px;
  }

  .score {
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 18px;
  }

  .score-count {
    color: #fec653;
  }

  .timer-counter {
    font-family: 'Roboto';
    color: #fec653;
    font-size: 18px;
    margin-left: 4px;
  }
}
